@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* header */

header{
    background-image: url(../img/backgound_footer.jpg);
    position: sticky;
    top: 0;
}

.img-text{
    display: inline-block;
}
.img-text img{
    position: absolute;
    left: 25px;
    top: 20px;
    height: 35px;
}
.img-text h1{
    position: relative;
    left: 450px;
    color: white;
    top: 25px;
}

nav{
    position: relative;
    left: 900px;
    bottom: 5px;
}

nav li{
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
}
nav li a{
    color: white;
    text-decoration: none;
}

nav li:hover{
    background: rgb(59, 58, 58);
    border-radius: 10px;
}

/* main */

.primeira{
    display: inline-block;
}
.primeira img, .text{
    display: inline-block;
}

.primeira img{
    height: 150px;
}